DB_AUTH_USERNAME=YOUR_DB_USERNAME
DB_AUTH_PASSWORD=YOUR_DB_PW
ACTIVE_PROFILE=ACTIVE_PROFILE_AT_APP_STARTUP
DB_NAME=majestic_cup_${ACTIVE_PROFILE}_db
JWT_EXPIRATION_TIME=JWT_EXPIRATION
JWT_SECRET_KEY=YOUR_SECRET_KEY_IN_MILLISECONDS